* {
	padding: 0;
	margin: 0;
}

.main {
	height: 5000px;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

.container {
	clear: both;
	/* background: #f6f6f6; */
	/* height: 200px; */
	background: #fff;
	/* background: blue; */
}

/* button {
	border: 0;
} */
.Button {
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	color: #8590a6;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
